// styles form in the page
.input-container{
    display: flex;
    flex-direction: column;
 
}


::placeholder{
    color: $secondary-color;
}


.form_container{
    margin-top: $ms-4;
}

.form_container, .Thankyou_message{
 
    padding: $ps-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .label, button{
        font-weight: $font-weightb;
    }

    .label{
        font-size: $fs-sma;
        cursor: pointer;
        color: $primary-color;
        margin: $ms-1 0 $ms 0 ;
    }

    input, .button{
        border-radius: 6px;
    }

    input{
        padding: $ps-1 $ps-a;
       }

       input{
        border: 1.8px solid $secondary-color;
        color: $primary-color;
        font-size: $fs-1;
       }


       .button{
        border: none;
        margin: $ms-2 0;
        color: $white-color;
        background-color: $primary-color;
        padding: $ps-1a;
        cursor: pointer;

       }

       input:focus{
        border: 2px solid $primary-color;
        outline: none;
       }

    
}

.Error_text{
    color: $red;
    font-size: $fs;
    visibility: hidden;

}

.sub-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .label-container{
        display: flex;
        flex-direction: column;
    }
}

.cvc_container{
    width: 50%;
}

.date_container, .error-message-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    :nth-child(1), :nth-child(2){
        width: 50%;
        flex-grow: 2;
        margin-right: $ms-xs;
    }
}

 label span{
    color: $success;
    font-size: $fs-1;
}

@media screen and (min-width: $breakpoint-tablet) {


    .form_container{
        width: $width50;
        margin: $ms-5 $m-auto $m-auto $m-auto;
        max-width: 500px;

        .label{
            font-size: $fs-sm;
        }
    }

    .Error_text{
        font-size: $fs-sm;
    }
}

@media screen and (min-width: $breakpoint-desktop) {

     .form_container{
        width: 400px;
        margin: $m-auto $m-auto $m-auto 30%;
     }

}
