// Styles the layout of the page
/////////

body {
  padding: $p-0;
  margin: $mzero;
  font-size: $font-size;
  font-family: $font-family;
}

.primary-text{
  font-size: $fs-sm;
  color: $white-color;
}

.name{
  font-size: $fs-sm;
}

.main{
  display: flex;
  flex-direction: column;
  height: $height100;
}

.primary_btn{
  background-color: $primary-color;
  padding: $ps-a $ps;
  border-radius: 6px;
  border: none;
  margin: $ms-2 0;
  color: $white-color;
  background-color: $primary-color;
  width: 300px;
  cursor: pointer;
}


button:focus{
  outline: none;
}

  // TABLET STYLE

  @media (min-width: $breakpoint-tablet) {
 .name, .primary-text{
  font-size: $fs-1;
 }
  }

// // DESKTOP STYLE


  @media (min-width: $breakpoint-desktop) {

    .main{
      display: flex;
      flex-direction: row;
      height: 100vh;
      align-items: center;
      justify-content: space-between;

      .form_container{
       justify-self: start;
           }
    }

    .name, .primary-text {
    font-size: $fs-1;
    }

  }