.Thankyou_message{
    margin-top: $ms-7;
    display: none;
    .image_container{
        width: 80px;
        height: 80px;
        background-color: $primary-color;
       @include flex_row;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    p{
        color: $secondary-color2;
    }

}

@media screen and(min-width: $breakpoint-desktop){
    .Thankyou_message{
        margin-right: 13%;
     }
}